//base.scss
$primary-color-dark: #4EB1A9;
$primary-color-light: #71C1BA;
$secondary-color-complement-dark:#B14E56;
$secondary-color-complement-light:#C17178;
$analogous-color-1:#4E88B1;
$analogous-color-2:#4EB178;